@import '../../variables';

.media__list{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.media__list--single{
  @media (min-width: map-get($grid-breakpoints, sm)) {
    justify-content: space-around;
  }
}
.media__listItem{
  padding-top:10px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    padding-top:16px;
    flex-basis: 33%;
    justify-content: space-between;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    flex-basis: 24%;
  }
}
.media__imageContainer{
  width: 100%;
  height: 200px;
  padding-bottom: 15px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
  }
}
.media__image{
  width: 100%;
  height: 100%;
  background-color: $brtc-gray;
  margin: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    margin: 0;
  }
}

.media__image--pictures{
  background-image: url('/assets/img/slika1.jpg');  
}
.media__image--videos{
  background-image: url('/assets/img/slika2.jpg');  
}

.media__body{
  text-align: center;
}
.media__heading{
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.media__text{
  font-size: 16px;
  line-height: 18px;
  font-family: Vollkorn;
  font-style: italic;
  color: $brtc-darker-blue;
  margin: 0;
  padding-bottom: 20px;
}