<footer>
	<section class="footer">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="footer_container">
						<div class="footer_block">
							<div class="footer_logo"></div>
						</div>
						<div class="footer_block">
							<ul class="list-unstyled">
								<li class="footer_item"><span class="footer_item--blue">ZAVOD LEEWAY COLLECTIVE</span></li>
								<li class="footer_item">Zgornja Lipnica 24A,</li>
								<li class="footer_item">4246 Kamna Gorica</li>
							</ul>
						</div>
						<div class="footer_block">
							<ul class="list-unstyled">
								<li class="footer_item"><span class="footer_item--blue">E</span> info@balkanriverstour.com</li>
								<li class="footer_item"><span class="footer_item--blue">T1</span> 00386 51 421 303</li>
								<li class="footer_item"><span class="footer_item--blue">T2</span>00386 31 549 055</li>
							</ul>
						</div>
						<div class="footer_block">
							<div class="footer_item"><span class="footer_item--blue">SIGN UP</span> FOR OUR EMAIL NEWSLETTER</div>
							<form>
							  <div class="form-group">
							    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter your email">
							  </div>
							 </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="subfooter">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<p>© 2017 Balkan Rivers Tour · All Rights Reserved</p>
				</div>
				<div class="col-sm-4">
					<p class="subfooter_text--blue">Respect existence or expect resistance</p>
				</div>
				<div class="col-sm-4">
					<div class="subfooter_socail">
						<span class="fb"></span>
						<span class="tw"></span>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>