@import '../../variables';

.library__list{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.library__listItem{
  padding-top:10px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    padding: 16px 10px 0 10px;
    flex-basis: 33%;
    display: flex;
  }
}
.library__imageContainer{
  padding-bottom: 15px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
  }
}
.library__image{
  width: 139px;
  height: 127px;
  background-color: $brtc-gray;
  margin: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    margin: 0 10px 0 0;
  }
}
.library__body{
}
.library__heading{
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin: 0;
}
.library__text{
  font-size: 14px;
  line-height: 16px;
  font-family: Vollkorn;
  margin: 0;
  padding-bottom: 20px;
}
.library__button{
  font-size: 9px;
  font-family: Montserrat;
  text-transform: uppercase;
  line-height: 17px;
  border: 2px solid $brtc-blue;
  color: $brtc-text;
  display: block;
  max-width: 80px;
  text-align: center;
}