<section class="expenses">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="expenses__heading">this is where the money goes:</h1>
				<hr>
				<ul class="list-unstyled expenses__list" >
					<li class="expenses__listItem">
						<svg-icon src="/assets/ikone/van.svg" style="width: 68px;	height: 30px;" class="involved__icon"></svg-icon>
						<p class="involved__price">24,678 &euro;</p>
					</li>
					<li class="expenses__listItem">
						<svg-icon src="/assets/ikone/food.svg" style="height: 48px;	width: 49px;" class="involved__icon"></svg-icon>
						<p class="involved__price">14,123 &euro;</p>
					</li>
					<li class="expenses__listItem">
						<svg-icon src="/assets/ikone/megaphone.svg" style="width: 64px; height: 56px;" class="involved__icon"></svg-icon>
						<p class="involved__price">2,764 &euro;</p>
					</li>
					<li class="expenses__listItem">
						<svg-icon src="/assets/ikone/people.svg" style="height: 50px;	width: 54px;" class="involved__icon"></svg-icon>
						<p class="involved__price">5,368 &euro;</p>
					</li>
				</ul>
				<hr>
			</div>
		</div>
	</div>
</section>