<section class="expenses">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="expenses__heading">this is where the money goes:</h1>
				<hr>
				<ul class="list-unstyled expenses__list" >
					<li class="expenses__listItem">
						<span style="background-image: url('/assets/ikone/van.png');" class="involved__icon" ></span>
						<p class="involved__price">24,678 &euro;</p>
					</li>
					<li class="expenses__listItem">
						<span style="background-image: url('/assets/ikone/media.png');" class="involved__icon" ></span>
						<p class="involved__price">17,678 &euro;</p>
					</li>
					<li class="expenses__listItem">
						<span style="background-image: url('/assets/ikone/food.png');" class="involved__icon" ></span>
						<p class="involved__price">14,123 &euro;</p>
					</li>
					<li class="expenses__listItem">
						<span style="background-image: url('/assets/ikone/megaphone.png');" class="involved__icon" ></span>
						<p class="involved__price">2,764 &euro;</p>
					</li>
					<li class="expenses__listItem">
						<span style="background-image: url('/assets/ikone/people.png');" class="involved__icon" ></span>
						<p class="involved__price">5,368 &euro;</p>
					</li>
					<li class="expenses__listItem">
						<span style="background-image: url('/assets/ikone/beer.png');" class="involved__icon" ></span>
						<p class="involved__price">2,168 &euro;</p>
					</li>
				</ul>
				<hr>
			</div>
		</div>
	</div>
</section>