<app-page [title]="title">
  <div class="crew__navContainer">
    <div class="crew__nav" (click)="onActive('CORE TEAM')">CORE TEAM</div>
    <div class="crew__nav" (click)="onActive('MEDIA')">MEDIA</div>
    <div class="crew__nav" (click)="onActive('TEAM MATES')">TEAM MATES</div>
  </div>
  <hr>
  <div>
    <div>
      <h2 class="crew__heading">{{active}}</h2>
      <ul class="crew__list list-unstyled">
        <li class="crew__listItem crew__list--core" *ngFor="let crew of activeArray" (click)="open(content)">
          <div class="crew__imageContainer">
            <div class="crew__image"  [style.background-image]=" crew.acf.image.url? 'url('+ crew.acf.image.url+')':null"></div>  
          </div>
          <div class="crew__body">
            <h2 class="crew__name">{{crew.acf['crew_name']}}</h2>
            <p class="crew__text">{{crew.acf['role']}}</p>
            <a *ngIf="crew.acf.twitter" class="crew__link" href={{crew.acf.twitter}} >
              <i class="fa fa-twitter"></i>
            </a>
            <a *ngIf="crew.acf.facebook" class="crew__link" href={{crew.acf.facebook}} >
              <i class="fa fa-facebook-f"></i>
            </a>
            <a *ngIf="crew.acf.contact" class="crew__link" [href]="'mailto:' + crew.acf.contact">
              <i class="fa fa-envelope"></i>
            </a>
           <a *ngIf="crew.acf.page" class="crew__link" href="https://{{crew.acf.page}}">
             <i class="fa fa-globe"></i>
           </a>
           
          </div>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src={{crew.acf.image.url}} alt="" class="img-fluid mx-auto">
              <h4 class="modal-title">{{crew.acf['crew_name']}}</h4>
              <p class="crew__text">{{crew.acf.role}}</p>
              <p class="crew__text">{{crew.acf.crew_discription}}</p>
              <div class="crew__socialContainer">
                <a *ngIf="crew.acf.twitter" class="crew__link" href={{crew.acf.twitter}} >
                  <i class="fa fa-twitter"></i>
                </a>
                <a *ngIf="crew.acf.facebook" class="crew__link" href={{crew.acf.facebook}} >
                  <i class="fa fa-facebook-f"></i>
                </a>
                <a *ngIf="crew.acf.contact" [href]="'mailto:' + crew.acf.contact">
                  <i class="fa fa-envelope"></i>
                </a>
               <a *ngIf="crew.acf.page" class="crew__link" href="https://{{crew.acf.page}}">
                 <i class="fa fa-globe"></i>
               </a>
              </div>              
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</app-page>