<app-page [title]="title">
  <div class="crew__navContainer">
    <div class="crew__nav" (click)="onActive(0)">CORE TEAM</div>
    <div class="crew__nav" (click)="onActive(1)">LOCAL SUPPORT</div>
    <div class="crew__nav" (click)="onActive(2)">VOLUNTEERS</div>
  </div>
  <hr>
  <div [ngSwitch]="active">
    <div *ngSwitchCase="0">
      <h2 class="crew__heading">CORE TEAM</h2>
      <ul class="crew__list list-unstyled">
        <li class="crew__listItem crew__list--core" *ngFor="let crew of core" (click)="open(content)">
          <div class="crew__imageContainer">
            <div class="crew__image"  [style.background-image]=" crew.acf.image.url? 'url('+ crew.acf.image.url+')':null"></div>  
          </div>
          <div class="crew__body">
            <h2 class="crew__name">{{crew.acf['crew_name']}}</h2>
            <a class="crew__link" href={{crew.acf.twitter}} >
              <i class="fa fa-twitter"></i>
            </a>
            <a class="crew__link" href={{crew.acf.facebook}} >
              <i class="fa fa-facebook-f"></i>
            </a>
            <a class="crew__link" [href]="'mailto:' + crew.acf.contact">
              <i class="fa fa-envelope"></i>
            </a>
           <a class="crew__link" href={{crew.acf.contact}}>
             <i class="fa fa-globe"></i>
           </a>
           
          </div>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">{{crew.acf['crew_name']}}</h4>
              <p class="crew__text">design</p>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src={{crew.acf.image.url}} alt="">
              <p>{{crew.acf.crew_discription}}</p>
              <a class="crew__link" href={{crew.acf.twitter}} >
                <i class="fa fa-twitter"></i>
              </a>
              <a class="crew__link" href={{crew.acf.facebook}} >
                <i class="fa fa-facebook-f"></i>
              </a>
              <a [href]="'mailto:' + crew.acf.contact">
                <i class="fa fa-envelope"></i>
              </a>
             <a class="crew__link" href={{crew.acf.contact}}>
               <i class="fa fa-globe"></i>
             </a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>

    <div *ngSwitchCase="1">
      <h2 class="crew__heading">LOCAL SUPPORT</h2>
      <ul class="crew__list crew__list--local list-unstyled">
        <li class="crew__listItem" *ngFor="let crew of media">
          <div class="crew__imageContainer">
            <div class="crew__image"  [style.background-image]=" crew.acf.image.url? 'url('+ crew.acf.image.url+')':null"></div>  
          </div>
          <div class="crew__body">
            <h2 class="crew__heading">{{crew.acf['crew_name']}}</h2>
            <p class="crew__text">design</p>
            <a class="crew__link" href={{crew.acf.twitter}} >
              <i class="fa fa-twitter"></i>
            </a>
            <a class="crew__link" href={{crew.acf.facebook}} >
              <i class="fa fa-facebook-f"></i>
            </a>
            <a class="crew__link" [href]="'mailto:' + crew.acf.contact">
              <i class="fa fa-envelope"></i>
            </a>       
          </div>
        </li>
      </ul>
    </div>
    <div *ngSwitchDefault >
      <h2 class="crew__heading">VOLUNTEERS</h2>
      <ul class="crew__list crew__list--volunteer list-unstyled">
        <li class="crew__listItem" *ngFor="let crew of media">
          <div class="crew__body">
            <h2 class="crew__name">{{crew.acf['crew_name']}}</h2>
            <a href={{crew.acf.twitter}} >
              <i class="fa fa-twitter"></i>
            </a>
            <a class="crew__link" href={{crew.acf.facebook}} >
              <i class="fa fa-facebook-f"></i>
            </a>
            <a class="crew__link" [href]="'mailto:' + crew.acf.contact">
              <i class="fa fa-envelope"></i>
            </a>
           <a class="crew__link" href={{crew.acf.contact}}>
             <i class="fa fa-globe"></i>
           </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</app-page>