<section class="menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<nav class="navbar fixed-top" [ngClass]="{'active': !isCollapsed}">
					<div class="nav--logoContainer">
						<a routerLink="/home" class="nav--logo">
              <svg-icon src='/assets/ikone/logo.svg'></svg-icon>
            </a>
					</div>
					<h1 class="nav--title">balkan rivers tour</h1>
					<button class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
				    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
				    <i [ngClass]=" isCollapsed ? 'fa fa-bars': 'fa fa-close'" aria-hidden="true"></i>
				  </button>
				</nav>
			</div>
		</div>
	</div>

	<div [ngbCollapse]="isCollapsed">
	  <div class="menu--toggled">
			<div class="menu--toggled__layer"></div>
	    <ul class="list-unstyled nav--list" (click)="isCollapsed = !isCollapsed">
	    	<li class="nav--listItem">
	    		<a routerLink="/home" class="nav--link" routerLinkActive="active">home</a>
    		</li>
	    	<li class="nav--listItem">
	    		<a routerLink="/about" class="nav--link" routerLinkActive="active">about</a>
    		</li>
	    	<li class="nav--listItem">
	    		<a routerLink="/news" class="nav--link" routerLinkActive="active">news</a>
    		</li>
    		<li class="nav--listItem">
	    		<a routerLink="/media" class="nav--link" routerLinkActive="active">media</a>
    		</li>
	    	<li class="nav--listItem">
	    		<a routerLink="/donate" class="nav--link" routerLinkActive="active">donate</a>
    		</li>
    		<li class="nav--listItem">
	    		<a routerLink="/hydro" class="nav--link" routerLinkActive="active">dirty hydro</a>
    		</li>
	    	<li class="nav--listItem">
	    		<a routerLink="/library" class="nav--link" routerLinkActive="active">library</a>
    		</li>
    		<li class="nav--listItem">
	    		<a routerLink="/merch" class="nav--link" routerLinkActive="active">merch</a>
    		</li>
	    	<li class="nav--listItem">
	    		<a routerLink="/contact" class="nav--link" routerLinkActive="active">contact us</a>
    		</li>
	    </ul>
	  </div>
	</div>
</section>