<section class="menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<nav class="navbar" [ngClass]="{'active': !isCollapsed}">
					<div class="nav--logoContainer">
						<a routerLink="/home" class="nav--logo"></a>
					</div>
					<h1 class="nav--title">balkan rivers Defence</h1>
          <div ngbDropdown class="d-none d-md-block">
            <a class="nav__title--link" id="dropdown1" ngbDropdownToggle>GET INVOLVED</a>
            <div ngbDropdownMenu aria-labelledby="dropdown1">
              <a routerLink="/save" class="nav--link" routerLinkActive="active">save your river</a>
              <a href="https://blueheart.patagonia.com/take-action" class="nav--link" target="_blank">SIGN PETITION</a>
              <a routerLink="/intellectuals" class="nav--link" routerLinkActive="active">River Intellectuals</a>
            </div>
          </div>
          <div ngbDropdown class="d-none d-md-block">
            <a class="nav__title--link d-md-block" 
              id="dropdown2"
              (mouse-over)="open()"
              ngbDropdownToggle>BRT3</a>
            <div ngbDropdownMenu aria-labelledby="dropdown2">
              <a routerLink="/program" class="nav--link" routerLinkActive="active">Program</a>
                <a routerLink="/faq" class="nav--link" routerLinkActive="active">faq</a>
            </div>
          </div>          
          <a routerLink="/donate" class="nav__title--link d-none d-md-block" routerLinkActive="active">donate</a>
          <!-- <div ngbDropdown class="d-none d-md-block">
            <a class="nav__title--link d-md-block" id="dropdown3" ngbDropdownToggle>menu</a>
            <div ngbDropdownMenu aria-labelledby="dropdown2">
              <a routerLink="/about" class="nav--link" routerLinkActive="active">About</a>
              <a routerLink="/crew" class="nav--link" routerLinkActive="active">the crew</a>
              <a routerLink="/news" class="nav--link" routerLinkActive="active">News</a>
              <a routerLink="/hydro" class="nav--link" routerLinkActive="active">dirty hydro</a>
              <a routerLink="/media" class="nav--link" routerLinkActive="active">Media</a>              
              <a routerLink="/library" class="nav--link" routerLinkActive="active">library</a>
              <a routerLink="/partners" class="nav--link" routerLinkActive="active">partners</a>        
              <a routerLink="/network" class="nav--link" routerLinkActive="active">BRD Network</a>
              <a routerLink="/contact" class="nav--link" routerLinkActive="active">contact us</a>
            </div>
          </div>  -->     

					<button class="navbar-toggler" (click)="open(content)"
				    >
				    <i [ngClass]=" isCollapsed ? 'fa fa-bars': 'fa fa-close'" aria-hidden="true"></i>
				  </button>
				</nav>
			</div>
		</div>
	</div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="nav--logoContainer">
          <a routerLink="/home" class="nav--logo"></a>
          </div>
        <button class="navbar-toggler" ria-label="Close" (click)="c('Cross click')">
          <i [ngClass]=" 'fa fa-close'"></i>
        </button>
    </div>
    <div class="menu--toggled" (click)="d('yes')">
      <div class="menu--toggled__layer"></div>
      <ul class="list-unstyled nav--list">
        <!-- <li class="nav--listItem">
          <a routerLink="/home" class="nav--link" routerLinkActive="active">home</a>
        </li> -->

        <li class="nav--listItem nav--listDropdown">
          <ngb-accordion [closeOthers]="true" activeIds="static-1" (click)="d('no')">
            <ngb-panel title="GET INVOLVED">            
              <ng-template ngbPanelContent>
                <a routerLink="/save" class="nav--link" routerLinkActive="active">save your river</a>
                <a href="https://blueheart.patagonia.com/take-action" class="nav--link" target="_blank">SIGN PETITION</a>
                <a routerLink="/intellectuals" class="nav--link" routerLinkActive="active">River Intellectuals</a>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="BRT3">            
              <ng-template ngbPanelContent>              
                <a routerLink="/program" class="nav--link" routerLinkActive="active">Program</a>
                <a routerLink="/faq" class="nav--link" routerLinkActive="active">faq</a>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </li>
        
        <!-- <li class="nav--listItem">
          <a routerLink="/merch" class="nav--link" routerLinkActive="active">Shop</a>
        </li>    -->   
        <li class="nav--listItem d-sm-none">
          <a routerLink="/donate" class="nav--link" routerLinkActive="active">donate</a>
        </li>        
        <li class="nav--listItem">
          <a routerLink="/about" class="nav--link" routerLinkActive="active">About</a>
        </li>
        <li class="nav--listItem">
          <a routerLink="/crew" class="nav--link" routerLinkActive="active">the crew</a>
        </li>
        <li class="nav--listItem">
          <a routerLink="/news" class="nav--link" routerLinkActive="active">News</a>
        </li>
        <li class="nav--listItem">
          <a routerLink="/hydro" class="nav--link" routerLinkActive="active">dirty hydro</a>
        </li>
        <li class="nav--listItem">
          <a routerLink="/media" class="nav--link" routerLinkActive="active">Media</a>
        </li>        
        <li class="nav--listItem">
          <a routerLink="/library" class="nav--link" routerLinkActive="active">library</a>
        </li>
        <li class="nav--listItem">
          <a routerLink="/partners" class="nav--link" routerLinkActive="active">partners</a>
        </li>
        <li class="nav--listItem">
          <a routerLink="/network" class="nav--link" routerLinkActive="active">BRD Network</a>
        </li>       
        <li class="nav--listItem">
          <a routerLink="/contact" class="nav--link" routerLinkActive="active">contact us</a>
        </li>        
      </ul>
    </div>
  </ng-template>

</section>