@import '../../variables';

.main{
  padding-bottom: 20px;
}

.posts__header{}
.posts__heading{
  text-transform: uppercase;
  display:inline-block; 
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  color: $brtc-light-text;
  width: auto;
  background:transparent url('/assets/img/wave.png') left bottom repeat-x;
  background-size: 83px;
  margin: 30px 0 0 ;
}