<section class="hero">
  <div class="hero__overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="hero--content">
          <div class="hero--block">
            <h1 class="hero--heading">WE ARE A RIVER CONSERVATION MOVEMENT CONNECTING ADVENTURE SPORTS AND SCIENCE TO PROTECT THE LAST WILD RIVERS OF EUROPE AGAINST 2.700 DAMS PLANNED IN THE BALKANS.</h1>
          </div>
          <!-- <div class="hero--block">
            <h2 class="hero--subheading">HELP US !</h2>
            <h3 class="hero--paragraph">We are a non profit organization. In order to keep our rivers pristine we need your help.</h3>
          </div> -->
          <div class="hero--block">
            <button class="hero--button">donate now</button>
            <div class="hero--social">
              <span class="hero--socialTitle">share</span>
              <a href="https://www.facebook.com/balkanriverdefence/"><span class="fb" target="_blank"></span></a>
              <a href="https://www.instagram.com/balkanriverdefence/" target="_blank"><span class="inst"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>