@import '../../../variables';

.hero{
	background: url('/assets/img/cover6.jpg') center center no-repeat;
	background-size: cover;
	height: 30vh;
	@media (min-width: map-get($grid-breakpoints, sm)) {
		height: 30vh;
	}
	@media (min-width: map-get($grid-breakpoints, md)) {
		height: 45vh;
	}
	@media (min-width: map-get($grid-breakpoints, lg)) {
		height: 69vh;
	}
}
.hero--content{
	display: flex;
	flex-direction: column;
	height: 30vh;
	align-items: flex-start;
	@media (min-width: map-get($grid-breakpoints, sm)) {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: 20px;
	}
	@media (min-width: map-get($grid-breakpoints, sm)) {
		height: 30vh;
		padding: 0 2rem 2rem;
		flex: 1;
	}
	@media (min-width: map-get($grid-breakpoints, md)) {
		height: 45vh;
		padding: 0 1.1rem 2.5rem;
	}
	@media (min-width: map-get($grid-breakpoints, lg)) {
		height: 69vh;
		padding: 0 1.1rem 2.5rem; 
	}
}
.hero--block{
	max-width: 250px;

	&:first-of-type{
		margin-top: auto;
		@media (min-width: map-get($grid-breakpoints, sm)) {
			margin: 0;
		}
		@media (min-width: map-get($grid-breakpoints, md)) {
			flex-grow: 1;
		}
	}
	&:last-of-type{
		margin: 0 auto;
		text-align: center;
		@media (min-width: map-get($grid-breakpoints, sm)) {
			margin: 0;
			text-align: right;
		}
		@media (min-width: map-get($grid-breakpoints, md)) {
			flex-grow: 1;
		}
	}
	@media (min-width: map-get($grid-breakpoints, sm)) {
		max-width: none;	
		flex-basis: 33.33%;
		align-items: flex-end;
		min-height: 130px;
	}
	@media (min-width: map-get($grid-breakpoints, md)) {
		max-width: none;	
		flex-basis: 26%;
	}
}
.hero--heading{
	line-height: 21px;
	font-size: 18px;
	color: $brtc-blue;
	font-family: Montserrat;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
	@media (min-width: map-get($grid-breakpoints, lg)) {
		line-height: 32px;
		font-size: 28px;
	}
}
.hero--subheading{
	line-height: 32px;
	font-size: 28px;
	font-family: Montserrat;
	font-weight: bolder;
	text-align: center;
	color: $brtc-light-text;
	@media (min-width: map-get($grid-breakpoints, lg)) {
		font-size: 48px;
		line-height: 48px;
	}
}
.hero--paragraph{
	display: none;
	@media (min-width: map-get($grid-breakpoints, sm)) {
		display: block;
		font-size: 16px;
		line-height: 20px;
		color: $brtc-blue;
	}
}
.hero--button{
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: bolder;
	font-size: 16px;
	line-height: 34px;
	background-color: transparent;
	border: 2px solid $brtc-darker-blue;
	padding: 0 1.5em;
	color: $brtc-light-text;
	&:hover,&:focus{
		background-color: $brtc-darker-blue;
		color: white;
	}
	@media (min-width: map-get($grid-breakpoints, md)) {
		font-size: 21px;
		line-height: 54px;
		padding: 0 2.2em;
		margin-bottom: 30px;
	}
}
.hero--social{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	@media (min-width: map-get($grid-breakpoints, md)) {
		justify-content: flex-end;
	}
	.fb{
		display: block;
		height: 18px;
		width: 18px;
		background:transparent url('/assets/img/ffb.png') center center no-repeat;
		background-size: contain;
		margin-right: 2px;
		@media (min-width: map-get($grid-breakpoints, md)) {
			height: 21px;
			width: 21px;
			margin-right: 4px;
		}
	}
	.inst{
		display: block;
		height: 18px;
		width: 18px;
		background:transparent url('/assets/img/fig.png') center center no-repeat;
		background-size: contain;
		@media (min-width: map-get($grid-breakpoints, md)) {
			height: 21px;
			width: 21px;
		}
	}
}
.hero--socialTitle{
	font-family: Vollkorn;
	font-style: italic;
	font-size: 14px;
	margin-right: 10px;
	@media (min-width: map-get($grid-breakpoints, md)) {
		font-size: 18px;
    margin-right: 20px;
	}
}