<section class="hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="hero--content">
					<div class="hero--block">
						<h1 class="hero--heading">Balkan Rivers Tour is the biggest river conservation action in Europe.</h1>
					</div>
					<div class="hero--block">
						<h2 class="hero--subheading">HELP US !</h2>
						<h3 class="hero--paragraph">We are a non profit organization. In order to keep our rivers pristine we need your help.</h3>
					</div>
					<div class="hero--block">
						<button class="hero--button">donate now</button>
						<div class="hero--social">
							<span class="hero--socialTitle">share</span>
							<a href="#"><span class="fb"></span></a>
							<a href="#"><span class="inst"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>