@import '../../variables';
  
.partners {
  hr:first-of-type {
    display: none;

  }
}
.partners__heading{
  font-family: Montserrat;
  color: $brtc-light-text;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  &.active{
    font-weight: bold;
    color:$brtc-text;
    background:transparent url('/assets/img/wave.png') left bottom repeat-x;
    background-size: 83px;
  }
  &:hover, &:focus{
    color: $brtc-blue;
    text-decoration: none;
    color: $brtc-light-text;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 18px;
    line-height: 25px;
  }
}

.partners__list{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.partners__listItem{
  padding-top:10px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    padding: 10px;   
  }
}
.partners__imageContainer{}

.partners__image{
  width: 250px;
  height: 200px;
  margin: auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    width: 230px;
    height: 200px;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    width: 250px;
    height: 200px;
  }
 
}

.partners__list--big{
  .partners__image{
    width: 200px;
    height: 150px;
  }
}
.partners__list--mid{
  &.partners__list{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .partners__image{
    width: 125px;
    height: 75px;
  }
}
.partners__list--small{
  .partners__listItem{
    flex-basis: "20%"
  }
}