@import '../variables';

.wrapper{
  position: relative;
	border: 3px solid $brtc-yollow;
	min-height: 100%;
	color: $brtc-text;
	font-family: Vollkorn;
  .content--container{
    min-height: calc(75vh + 3px);
  }
	@media (min-width: map-get($grid-breakpoints, sm)) {
		border: 7px solid $brtc-yollow;
	}
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding-bottom: 210px;
  }
}

button:focus{
	text-decoration: none;
}