<section class="involved">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="involved__heading">GET INVOLVED</h1>
				<ul class="list-unstyled involved__list" >
		    	<li class="involved__listItem">
		    		<a routerLink="/donate" class="involved__link">MAKE A DONATION</a>
	    		</li>
		    	<li class="involved__listItem">
		    		<a routerLink="/about" class="involved__link">CHECK OUT OUR MERCH</a>
	    		</li>
		    	<li class="involved__listItem">
		    		<a routerLink="/news" class="involved__link">APPLY AS A VOLUNTEER</a>
	    		</li>
		    	<li class="involved__listItem">
		    		<a routerLink="/donate" class="involved__link">FUNDRAISING</a>
	    		</li>
		    	<li class="involved__listItem">
		    		<a routerLink="/library" class="involved__link">SPREAD THE WORD</a>
	    		</li>
		    	<li class="involved__listItem">
		    		<a routerLink="/contact" class="involved__link">CONTRIBUTE IN GOODS</a>
	    		</li>
		    </ul>
			</div>
		</div>
	</div>
</section>