@import '../../../variables';

.involved{}
.involved__heading{
	display:inline-block; 
	font-family: Montserrat;
	font-weight: bold;
	font-size: 18px;
	line-height: 50px;
	color: $brtc-light-text;
	width: auto;
	background:transparent url('/assets/img/wave.png') left bottom repeat-x;
	background-size: 83px;
	margin-bottom: 30px;
}
.involved__list{
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	padding-bottom: 35px;
	@media (min-width: map-get($grid-breakpoints, sm)) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	@media (min-width: map-get($grid-breakpoints, lg)) {
		flex-wrap: no-wrap;
	}
}
.involved__listItem{
	padding: 0 10px;
	border:transparent 1px solid;
	margin-bottom: 10px;
	border-bottom: 1px solid $brtc-gray;
	text-transform: uppercase;
	&:first-of-type{
		border-left: 1px solid transparent;
	}
	&:last-of-type{
		border-right: 1px solid transparent;
	}
	&:hover, &:focus{
		border: 1px solid $brtc-darker-blue;
		.involved__link{
			color: $brtc-darker-blue;
			text-decoration: none;
		}
	}
	@media (min-width: map-get($grid-breakpoints, sm)) {
		border-bottom: 1px solid transparent;
		border-right: 1px solid $brtc-gray;
		border-left: 1px solid $brtc-gray;
		flex-basis: calc(98% /4);
	}
	@media (min-width: map-get($grid-breakpoints, lg)) {
		padding: 0 8px;
		flex-basis: calc(98%/4);
	}
	@media (min-width: map-get($grid-breakpoints, xl)) {
		padding: 0 8px;
		flex-basis: calc(98%/4);
	}
}
.involved__link{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 18px;
	color: $brtc-blue;
	height: 100%;
	width: 100%;
	display: block;
}