@import '../../../variables';

.donate__header{}
.donate__heading{
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bold;
}
.donate__subheading{
  font-family: Vollkorn;
  font-size: 16px;
  line-height: 20px;
  color: $brtc-darker-blue;
  @media (min-width: map-get($grid-breakpoints, md)) {
    max-width: 50%;
  }
}

.donate__container{
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}
.donate__item{
  padding: 10px;
  @media (min-width: map-get($grid-breakpoints, md)) {
    flex: 1;    
  }
  border: 1px solid transaprent;
  &:hover, &:focus{
    border: 1px solid $brtc-darker-blue;
    .involved__link{
      text-decoration: none;
    }
  }
  &.active {
    border: 1px solid $brtc-darker-blue;
    .involved__link{
      text-decoration: none;
    }
  }
}
.donate__itemHeader{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    &:hover, &:focus{
      border: 1px solid transaprent;
      .involved__link{
        border: none;
        text-decoration: none;
      }
    }
  }
}
.donate__itemImage{
  height: 100px;
  width: 70px;
  background: no-repeat center center;
  background-size: contain;
}
.donate__itemTitle{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}
.donate__itemSpan{
  color: $brtc-darker-blue;
}
.donate__itemBody{
  font-size: 16px;
  line-height: 20px;
  font-family: Vollkorn;
}
.donate__paypal{
  margin: 0 auto 10px;
  text-align: center;
}