<section class="donate__single">
  <div class="donate__header">
    <h1 class="donate__heading">give {{donationType}}</h1>
    <h2 class="donate__subheading" [innerHTML]="donationText"></h2>
  </div>
  <hr>
  <ul class="donate__container list-unstyled">
    <li class="donate__item" *ngFor="let donation of donations">
      <a href="{{donation.permalink}}" 
        class="donate__itemHeader">
        <div class="donate__itemImage"[style.background-image]=" 'url('+ donation['images'][0].src +')'"></div>
        <h3 class="donate__itemTitle">&euro; <span class="donate__itemSpan">/{{donation['tags'][0]['name']}}</span></h3>
      </a>
      <div class="donate__itemBody">{{donation['donation-description']}}</div>
    </li>
  </ul>
  <hr>
</section>