<section class="donate__single">
  <div class="donate__header">
    <h1 class="donate__heading">{{donationType}}</h1>
    <h2 class="donate__subheading" [innerHTML]="donationText"></h2>
  </div>
  <hr>
  <ul class="donate__container list-unstyled" *ngIf="currentDonations">
    <li class="donate__item" *ngFor="let donation of currentDonations">
      <a href="{{donation.permalink}}" 
        class="donate__itemHeader">
        <div class="donate__itemImage"[style.background-image]=" 'url('+ donation._links['wp:featuredmedia'][0].href +')'"></div>
        <h3 class="donate__itemTitle">&euro; <span class="donate__itemSpan">/</span></h3>
      </a>
      <div class="donate__itemBody" 
        [innerHTML]="donation.excerpt.rendered" 
      ></div>
    </li>
  </ul>
  <hr>
</section>