@import '../../variables';

.merch__list{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.merch__listItem{
  padding-top:10px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    padding-top:16px;
    flex-basis: 33%;
    justify-content: space-between;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    flex-basis: 24%;
  }
}
.merch__imageContainer{
  width: 100%;
  height: 200px;
  padding-bottom: 15px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
  }
}
.merch__image{
  width: 100%;
  height: 100%;
  background-color: $brtc-gray;
  margin: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    margin: 0;
  }
}
.merch__body{
  text-align: center;
}
.merch__heading{
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
}
.merch__price{
  font-size: 16px;
  line-height: 18px;
  font-family: Vollkorn;
  font-style: italic;
  color: $brtc-darker-blue;
  margin: 0;
  padding-bottom: 20px;
}
.merch__text{
  font-size: 14px;
  line-height: 16px;
  font-family: Vollkorn;
  padding-bottom: 23px;
}
.merch__button{
  font-size: 9px;
  font-family: Montserrat;
  text-transform: uppercase;
  line-height: 17px;
  border: 2px solid $brtc-blue;
  color: $brtc-text;
  display: block;
  max-width: 80px;
  text-align: center;
  margin: auto;
}