<section class="donate">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="donate__menuContainer">
					<ul class="donate__menu list-unstyled">
						<li class="donate__menuItem">
							<a routerLink="/single" class="donate__menuLink" routerLinkActive="active">single donation</a>
						</li>
						<li class="donate__menuItem">
							<a routerLink="/monthly" class="donate__menuLink" routerLinkActive="active">monthly</a>
						</li>
						<li class="donate__menuItem">
							<a routerLink="/business" class="donate__menuLink" routerLinkActive="active">business membership</a>
						</li>
					</ul>
				</div>
				<div [ngSwitch]="val">
					<div *ngSwitchCase="'business'">
						<app-soon></app-soon>
					</div>
					<div *ngSwitchDefault>
						<app-single [donations]="donations" [donationType]="val" [donationText]="text"></app-single>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<app-expenses></app-expenses>
</section>
