<section class="donate">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col col-lg-10">
				<div class="donate__menuContainer">
					<ul class="donate__menu list-unstyled">
						<li class="donate__menuItem">
							<div class="donate__menuLink"
								[class.active]="active === 'SINGLE DONATION'"
								(click)="onActive('SINGLE DONATION')">single donation</div>
						</li>
						<li class="donate__menuItem">
							<div class="donate__menuLink"
								[class.active]="active === 'GIVE MONTHLY'"
								(click)="onActive('GIVE MONTHLY')">monthly</div>
						</li>
						<li class="donate__menuItem">
							<div class="donate__menuLink"
								[class.active]="active === 'BUSINESS MEMBERSHIP'"
								(click)="onActive('BUSINESS MEMBERSHIP')">business membership</div>
						</li>
						<li class="donate__menuItem">
							<div class="donate__menuLink"
								[class.active]="active === 'CONTRIBUTE IN GOODS'"
								(click)="onActive('CONTRIBUTE IN GOODS')">Contribute in goods</div>
						</li>
					</ul>
				</div>					
				<app-single [donations]="activeDonations" [donationText]="text" [activeType]="activeType"></app-single>				
			</div>
		</div>
	</div>
	<app-expenses></app-expenses>
</section>
<app-involved></app-involved>
