/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
body{
  height: 100vh;
}
p {
	margin-bottom: 25px;
}
.wrapper {
  // img {
  //   width: 100% !important;
  //   height: auto;
  // }
}
a{
	color: #23c1f3;
	&:hover,&:focus{
		color: #01b7f1;
		text-decoration: none;
	}
}

.customize-support{
  .fixed-top{
    top:32px;
  }
}
.modal__nav{
  .modal-dialog{
    max-width: unset;
    margin: 0;
  }
  .modal-header{
    border: none;
    z-index: 2;
    padding: calc(1.25rem + 7px) calc( 2.8rem + 22px);
    padding-bottom: 0;
    
  }
  :host ::ng-deep svg{
    width: 24px;
    height: 23px;
    @media (min-width: map-get($grid-breakpoints, sm)) {
      height: 61px;
      width: 59px;
    }
  }
}

.modal__crew{
  text-align: center;
}

.media-modal{
  .modal-dialog {
    max-width: 65vw;
    margin: 1.75rem auto;
  }
}

.donate-modal{
  
  .modal-dialog {
    max-width: 40vw;
    height: 70vh;
    margin: 1.75rem auto;
  }
  .modal-content{
    height: 100%;
  }
  .modal-body{
    display: block;
    flex: 1 1 auto;
  }
}
.modal-body{
  // width: auto;
  padding: 0;
  border-radius: 0;
  flex: 0 0 auto;

}
.modal-content{
  border-radius: 0;
  // width: auto;
  // max-width: 90vw;

}

iframe {
  
}



.product-template-default{
  body & {
    height: auto;
  }
  #header {
    display: none;
  }

  #footer {
    display: none;
  }

  #sidebar {
    display: none;
  }
  #wpadminbar {
    display: none;    
  }
  .woocommerce-breadcrumb,
  .woocommerce-tabs,
  .related{
    display: none;
  }
}

.woocommerce div.product div.images img{
  width: unset !important;
  max-width: 30%;
  margin: 0 auto !important;
}
.woocommerce div.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.summary .entry-summary{
  text-align: center;
}
.product_meta,
.woocommerce-page div.product form.cart .button,
.screen-reader-text,
.woocommerce .quantity .qty{
  display: none;
}

.woocommerce div.product div.summary {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.btn-brt{
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 12px;
  line-height: 20px;
  background-color: $brtc-blue;
  border: 2px solid $brtc-blue;
  padding: 0 1.5em;
  color: white;
  &:hover,&:focus{
    border: 2px solid $brtc-darker-blue;
    background-color: $brtc-darker-blue;
    color: white;
    cursor: pointer;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 16px;
    line-height: 22px;
    padding: 0 2.2em;
    // margin-bottom: 30px;
  }
}

.mc4wp-form-fields{
  .form-group{
    margin-top: 5px;
    @media (min-width: map-get($grid-breakpoints, md)) {
      margin-bottom: 0;
    }
  }
  .form-control{
    line-height: 32px;
    max-width: 244px;
    padding: 0 .75rem;
    border-radius: 0;
    border-color: $brtc-darker-blue;
    background-color: $brtc-footer;
    font-size: 12px;
    &:focus{
      color: white;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      margin-left: auto;
    }
  }
  p {
    margin-bottom: 5px;
  }

}



