/* You can add global styles to this file, and also import other style files */
body{
  height: 100vh;
}
p {
	margin-bottom: 25px;
}
.wrapper {
  img {
    width: 100% !important;
    height: auto;
  }
}
a{
	color: #23c1f3;
	&:hover,&:focus{
		color: #01b7f1;
		text-decoration: none;
	}
}

.customize-support{
  .fixed-top{
    top:32px;
  }
}

.modal-dialog{
  img{
    max-width: 100%;
    width: auto !important;
  }
  max-width: 90vw;
  width: fit-content;
  padding: 0;
}
.modal-body{
  // width: auto;
  padding: 0;
  border-radius: 0;
  flex: 0 0 0;
}
.modal-content{
  border-radius: 0;
  // width: auto;
  // max-width: 90vw;
}