<section *ngIf="post" class="singlepost">
	<div class="singlepost__hero" [style.background-image]="'url('+ hero+')'"></div>
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-10">
				<div class="singlepost_header">
					<h1 class="singlepost__heading">{{ post.title.rendered }}</h1>
					<div class="singlepost__socialContainer">
						<div class="tw"></div>
						<div class="fb"></div>
					</div>
				</div>
				<div class="singlepost__subheading">
					<div class="time">{{ post.date | date:"dd.MM.yyyy" }}</div>
				</div>
				<div class="singlepost__contentContainer">
					<div [innerHTML]="content"></div>
				</div>				
			</div>
		</div>
	</div>
</section>
<section *ngIf="!post">
  <p>no post found</p>
</section>

<app-involved></app-involved>